<div class="seapoll">
</div>

<div class="mainStuff">
    <div class="container">
        <div class="col-sm">
            <div class="cards">
                <div class="card-header yolo unique-color ">
                    What is SEAPOLL ?
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>SEAPOLL is a website where you can find your local politics like news, events and information
                            on the city you all love all in one place.</p>
                        <footer class="blockquote-footer">The SEAPOLL team</footer>
                    </blockquote>
                </div>
            </div>
        </div>
            <div class="cards">
                <div class="col-sm">
                    <iframe src="https://feed.mikle.com/widget/v2/118311/" height="564px" width="100%" class="fw-iframe"
                        scrolling="no" frameborder="0"></iframe>
                </div>
                <div class="col-sm">
                    <iframe class="youTube rounded mb-0"
                        src="https://www.seattle.gov/council/meet-the-council/find-your-district-and-councilmembers"
                        height="564px" width="100%" class="fw-iframe" scrolling="yes" frameborder="0"></iframe>
                </div>
            </div>
        <div class="row">

            <div class="col-sm" style="
    padding-right: 0px;
    padding-left: 20-;
    padding-left: 30px;
">
                <iframe class="youTube rounded mb-0" width="525vw" height="315"
                    src="https://www.youtube.com/embed/playlist?list=PLhfhh0Ed-ZC2d0zuuzyCf1gaPaKfH4k4f" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm">
            <iframe class="youTube rounded mb-0" width="525vw" height="315"
                src="https://www.youtube.com/embed/playlist?list=PLhfhh0Ed-ZC340zWlgDMVi2HaeNz0KFyi" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

       
    </div>
</div>

