<div class="seapoll">
</div>


<div class="container">
    <div class="cards">
        <div class="col-sm">
            <iframe src="https://feed.mikle.com/widget/v2/118311/" height="564px" width="50%" class="fw-iframe"
                scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="col-sm">
            <div class="card-body">
                <h1>What is SEAPOLL</h1>
            </div>
        </div>
    </div>
</div>