
    <input type="text" name = "name" placeholder="Username">
    <input type="password" name = "password" placeholder="password" >
    <input type="text" name = "district" placeholder="district">
    <button class="signup">Sign Up</button>
    <button class="login" >Login</button>

<a href="/auth/signup">First time? sign up here!</a>

<script>
//user log in
//onclick event for login button
  $(".login").on("click", function(event) {
    event.preventDefault();
    //form dissapears once submit button is clicked
    $("<form>").fadeOut(); 

    var name = $("[name=name]").val()
    var password = $("[name=password]").val()
    //var district = $("[name=district]").val()

    console.log({name, password})
//post event 
 $.post("/auth/login", {name, password})
 .then(function(data) {
        console.log(data)          

        // Clear the form when submitting
        $("#TODO:Name ID").val("");
        $("TODO: password ID").val("");

      });
}); 

//user signup
//onclick event for signup button
  $(".signup").on("click", function(event) {
    event.preventDefault();
    //form dissapears once submit button is clicked
    $("<form>").fadeOut(); 

    var name = $("[name=name]").val()
    var password = $("[name=password]").val()
    var district = $("[name=district]").val()

    console.log({name, password, district})
//post event 
 $.post("/auth/signup", {name, password})
 .then(function(data) {
        console.log(data)          
        // Clear the form when submitting
        $("#TODO:Name ID").val("");
        $("TODO: password ID").val("");

      });
}); 

      </script>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SEAPOLL</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="/public/css/styles.css" media="screen" title="no title">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark unique-color">
      <a class="navbar-brand" href="#">
          <img src="./assets/vote.png" height="35" alt="mdb logo">
        </a>
    </nav>
<body class="yolo">
  <div>
  
  </div>
  </body>
  <footer class="page-footer font-small unique-color fixed-bottom">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
      </div>
      <!-- Copyright -->
    
    </footer>
</html>


