{{!-- <div class="seapoll"></div> --}}
<div class="bodi">

    <form class="text-center border border-light p-5 signBody yoda" action="#!">
      <p class="h4 mb-4">Sign in</p>

      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" />

      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" />

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" />
            <label class="custom-control-label" for="defaultLoginFormRemember">Remember
              me</label>
          </div>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4 signIn" type="submit">
        Sign in
      </button>
    </form>
  </div>  

<script>
//user login events 
//onclick event for login button
  $("TODO:.login").on("click", function(event) {
    event.preventDefault();

    //form dissapears once submit button is clicked
    //$("<form>").fadeOut(); 

    //store variables
    var name = $("[name=name]").val()
    var password = $("[name=password]").val()
    //var district = $("[name=district]").val()
    console.log({name, password})

//post event for login - sending back to server
 $.post("/auth/login", {name, password})
 .then(function(data) {
        console.log(data)          

        // Clear the form when submitting
        $("#TODO:Name ID").val("");
        $("TODO: password ID").val("");

      });
  });

//user signup events
//onclick event for signup button
  $("TODO:.signup").on("click", function(event) {
    event.preventDefault();
    //form dissapears once submit button is clicked
    //$("<form>").fadeOut(); 

    var name = $("[name=name]").val()
    var password = $("[name=password]").val()
    var district = $("[name=district]").val()

    console.log({name, password, district})

//post event 
 $.post("/auth/signup", {name, password})
 .then(function(data) {
        console.log(data)        
  
        // Clear the form when submitting
        $("#TODO:Name ID").val("");
        $("TODO: password ID").val("");

      });
  });

</script>