{{!-- <div class="seapoll"></div> --}}
<div class="bodi">

    <form class="text-center border border-light p-5 signBody yoda" action="#!">
      <p class="h4 mb-4">Welcome Back</p>

      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" />

      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" />

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" />
            <label class="custom-control-label" for="defaultLoginFormRemember">Remember
              me</label>
          </div>
        </div>
      </div>
      <button class="btn btn-info btn-block my-4 btn-unique" type="submit">
        Sign in
      </button>
    </form>
  </div>  

<script>
//user login events 
//onclick event for login button
  $(".signIn").on("click", function(event) {
    event.preventDefault();

    //form dissapears once submit button is clicked
    //$("<form>").fadeOut(); 

    //store variables
    var email = $("#defaultLoginFormEmail").val()
    var password = $("#defaultLoginFormPassword").val()
    console.log({email, password})

//post event for login - sending back to server
 $.post("/auth/login", {email, password})
 .then(function(data) {
        console.log(data) 
        var userDistrict = data.user.district;
        window.location.href="/district/"+ userDistrict      

        // Clear the form when submitting
        $("#defaultLoginFormEmail").val("");
        $("#defaultLoginFormPassword").val("");

      });
  });

</script>