{{!-- <div class="seapoll"></div> --}}
<div class="bodi">

  <form class="text-center border border-light p-5 yoda signBody" action="#!">
    <p class="h4 mb-4">Sign up</p>

    <!-- Email -->
    <input type="email" id="defaultSignupFormEmail" class="form-control mb-4" placeholder="E-mail" />

    <!-- Password -->
    <input type="password" id="defaultSignupFormPassword" class="form-control mb-4" placeholder="Password" />

 <!-- District -->

    <select type= "district" id = "defaultSignupFormDistrict" class="form-control mb-4" placeholder="Select Your District">
      <option value = "placeholder">Select Your District</option>
      <option value = "1">District 1</option>
      <option value = "2">District 2</option>
      <option value = "3">District 3</option>
      <option value = "4">District 4</option>
      <option value = "5">District 5</option>
      <option value = "6">District 6</option>
      <option value = "7">District 7</option>
    </select>

    <!-- Sign in button -->
    <div>
    <button class="btn btn-info btn-block my-4 btn-unique" type="submit">
      Sign Up
    </button>
    </div>
  </form>
</div>

<script>

  //user signup
  //onclick event for signup button
  $(".signup").on("click", function (event) {
    event.preventDefault();
    //form dissapears once submit button is clicked
    $("<form>").fadeOut();

    var email = $("[name=email]").val()
    var password = $("[name=password]").val()
    var district = $("[name=district]").val()

    console.log({ email, password, district })
    //post event 
    $.post("/auth/signup", { email, password })
      .then(function (data) {
        console.log(data)
        // Clear the form when submitting
        $("#defaultSignupFormEmail").val("");
        $("#defaultSignupFormPassword").val("");
        $("TODO:district").val("");
      });
  });

</script>