{{!-- <div class="seapoll"></div> --}}
<div class="bodi">

  <form class="text-center border border-light p-5 yoda signBody" action="#!">
    <p class="h4 mb-4">Sign up</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" />

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" />

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">
      Sign Up
    </button>
  </form>
</div>

<script>

  //user signup
  //onclick event for signup button
  $(".signup").on("click", function (event) {
    event.preventDefault();
    //form dissapears once submit button is clicked
    $("<form>").fadeOut();

    var email = $("[name=email]").val()
    var password = $("[name=password]").val()
    var district = $("[name=district]").val()

    console.log({ email, password, district })
    //post event 
    $.post("/auth/signup", { email, password })
      .then(function (data) {
        console.log(data)
        // Clear the form when submitting
        $("#defaultSignupFormEmail").val("");
        $("#defaultSignupFormPassword").val("");
        $("TODO:district").val("");
      });
  });

</script>