{{!-- <div class="seapoll"></div> --}}
<div class="bodi">

  <form class="text-center border border-light p-5 yoda signBody" action="#!">
    <p class="h4 mb-4">Sign up</p>

    <!-- Email -->
    <input type="email" id="SignupFormEmail" class="form-control mb-4" placeholder="E-mail" />

    <!-- Password -->
    <input type="password" id="SignupFormPassword" class="form-control mb-4" placeholder="Password" />

 <!-- District -->

    <select type= "district" id = "SignupFormDistrict" class="form-control mb-4" placeholder="Select Your District">
      <option value = "placeholder">Select Your District</option>
      <option value = "1">District 1</option>
      <option value = "2">District 2</option>
      <option value = "3">District 3</option>
      <option value = "4">District 4</option>
      <option value = "5">District 5</option>
      <option value = "6">District 6</option>
      <option value = "7">District 7</option>
    </select>

    <!-- Sign in button -->
<<<<<<< HEAD
    <button class="btn btn-info btn-block my-4 signUp" type="submit">
=======
    <div>
    <button class="btn btn-info btn-block my-4 btn-unique" type="submit">
>>>>>>> 5ef5729e9f8848d2caadfdbc4afecc494daabe58
      Sign Up
    </button>
    </div>
  </form>
</div>

<script>

  //user signup
  //onclick event for signup button
  $(".signUp").on("click", function (event) {
    event.preventDefault();
    //form dissapears once submit button is clicked
    $("<form>").fadeOut();

    var email = $("#SignupFormEmail").val()
    var password = $("#SignupFormPassword" ).val()
    var district = $("#SignupFormDistrict").val()

    console.log({ email, password, district })
    //post event 
    $.post("/auth/signup", { email, password, district })
      .then(function (data) {
        console.log(data)
        if (data) {
          window.location.href = "/auth/login"
        }
        else {
        // Clear the form when submitting
        $("#SignupFormEmail").val("");
        $("#SignupFormPassword").val("");
        $("#SignupFormDistrict").val("");
        }
      });
      
  });

</script>