body{
  background-color:#353638 !important;
  margin-bottom: 5% !important;
  
  
}
.seapoll{
  background-image: url(/assets/Seattle_Kerry_Park_Skyline.jpg);
  background-size:100% 350px;
  background-repeat: no-repeat;
  min-height: 39vh;
}
.signBody{
  background: url(/assets/seattle_skyline.jpg) !important;
  background-repeat: no-repeat !important;
  color: white;
  background-size: cover !important;
}

.yoda{
  height: 78vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
}

.cards{
  display: flex !important;
   justify-content: space-between !important;
   flex-wrap: wrap !important;
padding-top: 1%;
}

.card{
  flex: 1 0 50%;
}


.yolo{
color: white;
}


.youTube{
  border: white;
  border-style: solid;
  border-width: 1px;
}

/* button{
  background-color:#353638 !important ;
} */