
.seapoll{
  background-image: url(/assets/Seattle_Kerry_Park_Skyline.jpg);
  background-size:100% 350px;
  background-repeat: no-repeat;
  min-height: 39vh;
}
.mainStuff{
  background-color: #37474F;
  /* width: 10000% !important; */
  
}
.signBody{
  background: url(/assets/needle.jpg) !important;
  /* background-size:cover!important; */
  background-repeat: no-repeat !important;
  color: white;
  background-size: auto 100% !important;
}

.yoda{
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.cards{
  display: flex !important;
   justify-content: space-between !important;
   flex-wrap: wrap !important;

}

.card{
  flex: 1 0 50%;
}

.bodi{
  background-color:#353638;
  min-height: 100vh !important;
  background-size: auto;
}

